@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .burger-menu {
        display: block;
    }
    header .online-player,
    header .right-box {
        display: none;
    }
    header .logo{
        width: 158px;
        height: 40px;
    }
    .burger-menu .online-player,
    .burger-menu .right-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   .burger-menu .right-box a:first-child {
        margin-right: 0;
    }
    .burger-menu .right-box a {
        margin: 10px 0;
        color: #ffffff;
    }
    .burger-menu .right-box .registration {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .home-img {
        display: none;
    }
    #home .left-box {
        padding-top: 0;
        text-align: center;
    }
    #home {
        padding: 30px 0;
    }
    #stages {
        padding: 30px 0 50px 0;
    }
    #stages .box {
        text-align: center;
    }
    #stages .box:after {
        right: -43%;
    }
    #stages .first,
    #stages .second {
        margin-bottom: 40px;
    }
    #stages .box.second:after {
        left: -54%;
        top: 113%;
        width: 159px;
        transform: rotate(-42deg);
    }
    #advantages {
        padding: 30px 0;
    }
    #advantages .advantages-img {
        display: none;
    }
    .section-title {
        margin-bottom: 50px;
    }
    #composition {
        padding: 30px 0;
    }
    #composition input[type=checkbox] + label:before {
        height: 40px;
        width: 40px;
    }
    .pay-form .select-box {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    #composition .check-wrapper {
        margin-bottom: 20px;
    }
    #composition label {
        font-size: 18px;
    }
    .section-subtitle {
        font-size: 20px;
        margin-bottom: 30px;
    }
    form.email p {
        font-size: 17px;
        margin: 0 0 20px 0;
    }
    form.email .input-group {
        padding: 10px 20px 10px 20px;
    }
    .input-group::placeholder{
        font-size: 15px;
    }
    form.email {
        padding: 40px 0 35px 0;
    }
    .pay-items .title {
        width: 100%;
        margin-bottom: 20px;
    }
    .pay-items .images {
        width: 100%;
    }
    .pay .pay-items {
        padding: 20px 40px 20px 40px;
    }
    .pay .pay-items p {
        font-size: 16px;
    }
    .pay-items.third .title {
        width: 100%;
    }
    .pay-items.four .title {
        width: 100%;
    }
    .pay-items.four .accordion {
        padding: 0;
    }
    .panel.ui-accordion-content-active:before {
        width: 690px;
        top: 227px;
    }
    .panel.last.ui-accordion-content-active:before {
        top: 176px;
    }
    .panel.last-mobile.ui-accordion-content-active:before {
        top: 124px;
    }
    .accordion .ui-accordion-header-icon {
        top: 27px;
        left: 27px;
    }
    .pay-items .pay-form {
        padding: 0;
    }
    .pay-items .pay-form label {
        font-size: 15px!important;
    }
    .pay-items .pay-form input{
        height: 40px;
        margin-bottom: 10px;
    }
    .pay-form .end {
        padding: 10px 0 0 0;
    }
    #oc {
        padding: 30px 0;
    }
    #oc .box img:first-child {
        width: 50px;
        height: 61px;
    }
    #oc .box img:nth-child(2) {
        width: 128px;
        height: 74px;
    }
    #oc .box img:nth-child(4) {
        width: 66px;
        height: 50px;
    }
    #oc .box img:nth-child(5) {
        width: 100px;
        height: 47px;
    }
    #oc .box.two {
        margin-top: 10px;
    }
    #oc .box.two img:nth-child(1) {
        width: 63px;
        height: 61px;
    }
    #oc .box.two img:nth-child(2) {
        width: 97px;
        height: 53px;
    }
    #oc .box.two img:nth-child(3) {
        width: 135px;
        height: 46px;
    }
    #oc .box.two img:nth-child(4) {
        width: 75px;
        height: 74px;
    }
    #oc .box.two img:nth-child(5) {
        width: 100px;
        height: 35px;
    }
    #sport .slider.pc {
        display: none;
    }
    #sport .slider.mobile {
        display: block;
    }
    .owl-theme .owl-dots {
        bottom: -30px;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 10px!important;
        height: 10px!important;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
        width: 37px;
        height: 64px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 5%;
        width: 50px;
        height: 56px;
    }
    }
@media (max-width: 767px) {
    #stages .box:after{
        width: 60px;
    }
    #stages .box.second:after {
        left: -66%;
        top: 100%;
        width: 142px;
        transform: rotate(-34deg);
    }
    #home .left-box p {
        font-size: 34px;
        line-height: 44px;
        margin-bottom: 5px;
    }
    #partners .first img {
        width: 86px;
        height: 75px;
    }
    #partners .second img {
        width: 95px;
        height: 43px;
    }
    #partners .third img {
        width: 112px;
        height: 45px;
    }
    #partners .four img {
        width: 95px;
        height: 29px;
    }
    #advantages .advantages-info p {
        font-size: 18px;
        line-height: 22px;
    }
    .section-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 24px;
        margin-bottom: 40px;
    }
    #composition label {
        font-size: 16px;
    }
    .panel.ui-accordion-content-active:before {
        width: 510px;
        top: 276px;
    }
    #oc .box img:first-child {
        width: 53px;
        height: 32px;
    }
    #oc .box img:nth-child(2) {
        width: 54px;
        height: 38px;
    }
    #oc .box img:nth-child(3) {
        width: 100px;
        height: 35px;
    }
    #oc .box.two img:nth-child(1) {
        width: 43px;
        height: 46px;
    }
    #oc .box.two img:nth-child(2) {
        width: 60px;
        height: 38px;
    }
    #oc .box.two img:nth-child(3) {
        width: 98px;
        height: 40px;
    }
}
@media (max-width: 480px) {
    .section-title {
        font-size: 26px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }
    #home {
        padding: 20px 0 0 0;
    }
    #stages {
        padding: 40px 0 60px 0;
    }
    #stages .first, #stages .second {
        margin-bottom: 0;
    }
    #stages .box.second:after {
        left: -33%;
        top: 101%;
        width: 95px;
        transform: rotate(-39deg);
    }
    #stages .box p {
        font-size: 14px;
        line-height: 19px;
    }
    #stages .box p.pc {
        display: none;
    }
    #stages .box p.mobile {
        display: block;
    }
    #stages .box img {
        width: 110px;
        height: 110px;
    }
    #stages .first,
    #stages .second {
        margin-bottom: 20px;
    }
    #stages .box:after {
        right: -20%;
        top: 35%;
    }
    #partners .first img {
        width: 40px;
        height: 48px;
    }
    #partners .second img {
        width: 50px;
        height: 22px;
    }
    #partners .third img {
        width: 70px;
        height: 23px;
    }
    #partners .four img {
        width: 60px;
        height: 12px;
    }
    #composition .check-wrapper {
        margin-bottom: 15px;
    }
    #composition input[type=checkbox] + label:before {

        height: 20px;
        width: 20px;
        font-size: 17px;
    }
    #composition input[type=checkbox]:checked + label:before {
        content: url("../images/icons8-checkmark -mobile.svg");
    }
    #composition input[type=checkbox] + label:before{
        margin-right: 8px;
    }
    #composition label {
        font-size: 13px;
        line-height: 13px;
    }
    .section-subtitle {
        font-size: 18px;
        margin-bottom: 5px;
        line-height: 25px;
    }
    #composition .subscribe .form__select {
        width: 158px;
        height: 30px;
    }
    #composition .block-box .section-subtitle {
        margin-bottom: 24px;
    }
    #composition .block-box .price span {
        font-size: 22px;
        line-height: 30px;
    }
    .form__select:before {
        width: 40px;
        height: 30px;
    }
    .form__select:after {
        height: 11px;
        right: 4px;
        top: 8px;
    }
    form.email p {
        font-size: 14px;
    }
    form.email .input-group {
        padding: 7px 15px 7px 15px;
    }
    .pay .pay-items {
        padding: 20px 16px 20px 16px;

    }

    .pay .pay-items .title {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 22px;
        padding: 0 45px;
    }
    .pay-items .images {
        width: 83%;
    }
    .pay .pay-items .description {
        font-size: 12px;
        line-height: 16px;
    }
    .pay-items .btn-group {
        margin: 15px 0 0 0;
        width: auto;
        font-size: 14px;
        line-height: 19px;
        padding: 10px 22px;
    }
    .pay-items .btn-block {
        justify-content: flex-start;
    }
    .pay-items.four .accordion .title,
    .pay-items.four .accordion .images {
        padding: 0 45px;
    }
    .pay-items.four .accordion .images{
        width: 100%;
    }
    .accordion.ui-accordion-header-active:after {
        width: 383px;
        top: 160px;
    }
    .pay-items .pay-form label {
        font-size: 16px!important;
    }
    .pay-items .pay-form input {
        height: 40px;
        margin-bottom: 20px;
    }
    .pay-form .btn-block .btn-group {
        font-size: 15px;
    }
    .pay-items .pay-form .price p {
        font-size: 18px!important;
    }
    .pay-form .select-box {
        padding-top: 0;
        padding-bottom: 20px;
    }
    .form__select {
        width: 50%;
        height: 40px;
    }
    #oc .box img:first-child {
        width: 28px;
        height: 32px;
    }
    #oc .box img:nth-child(2) {
        width: 50px;
        height: 32px;
    }
    #oc .box img:nth-child(3) {
        width: 57px;
        height: 21px;
    }
    #oc .box img:nth-child(4) {
        width: 47px;
        height: 36px;
    }
    #oc .box img:nth-child(5) {
        width: 90px;
        height: 40px;
    }
    #oc .box.two img:nth-child(1) {
        width: 36px;
        height: 36px;
    }
    #oc .box.two img:nth-child(2) {
        width: 50px;
        height: 31px;
    }
    #oc .box.two img:nth-child(3) {
        width: 37px;
        height: 14px;
    }
    #oc .box.two img:nth-child(4) {
        width: 36px;
        height: 36px;
    }
    #oc .box.two img:nth-child(5) {
        width: 90px;
        height: 20px;
    }
    .panel.ui-accordion-content-active:before {
        display: none;
    }
    
    footer .box {
        width: 290px;
    }
    footer .box .links{
        justify-content: space-between;
    }
    footer .links a {
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    footer .links a:first-child {
        margin-right: 0;
    }
    footer p {
        font-size: 11px;
        line-height: 16px;
    }
}
@media (max-width: 400px) {
    #home .left-box p {
        font-size: 28px;
    }
    #stages .box:after {
        right: -30%;
        top: 35%;
    }
    #stages .box.second:after {
        left: -41%;
        top: 101%;
        width: 80px;
        transform: rotate(-51deg);
    }
}
